<footer class="py-2 my-3">
  <ul class="nav justify-content-center pb-4 mb-2">
    <li class="ms-3">
      <a class="text-muted" href="{{ site.owner.twitter }}">
        <span class="fa-stack fa-lg">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
    <li class="ms-3">
      <a class="text-muted" href="{{ site.owner.instagram }}">
        <span class="fa-stack fa-lg">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
    <li class="ms-3">
      <a class="text-muted" href="{{ site.owner.github }}">
        <span class="fa-stack fa-lg">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-github fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
  </ul>
  <p class="text-center copyright text-muted">Copyleft &copy;
    {{ 'now' | date: "%Y" }}
    <a href="https://rafael.picanco.nom.br">{{ site.owner.name }}</a>.
  </p>
</footer>