<nav class="navbar navbar-expand-lg fixed-top self-nav-bar">
  <div class="container">
    <a class="navbar-brand order-1 order-lg-2" href="https://blog.rafael.picanco.nom.br/pt-br/about/">CARLOP</a>
    <button class="navbar-toggler order-2" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarToggle" aria-expanded="false" aria-label={{ toggle }}>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse order-lg-1" id="navbarToggle1">
      <div class="p-4">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link" href="https://blog.rafael.picanco.nom.br/{{ page.language | downcase }}/">Singles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://blog.rafael.picanco.nom.br/{{ page.language | downcase }}/">Albuns</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://blog.rafael.picanco.nom.br/{{ page.language | downcase }}/">Ensaios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://blog.rafael.picanco.nom.br/{{ page.language | downcase }}/">Fotografia</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="https://blog.rafael.picanco.nom.br/{{ page.language | downcase }}/">BLOG</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="collapse navbar-collapse order-lg-3 justify-content-end" id="navbarToggle2">
      <div class="p-4">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link" href="https://blog.rafael.picanco.nom.br/{{ page.language | downcase }}/">Singles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://blog.rafael.picanco.nom.br/{{ page.language | downcase }}/">Albuns</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://blog.rafael.picanco.nom.br/{{ page.language | downcase }}/">Ensaios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://blog.rafael.picanco.nom.br/{{ page.language | downcase }}/">Fotografia</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="https://blog.rafael.picanco.nom.br/{{ page.language | downcase }}/">BLOG</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>