<a class="super-search-btn" href="javascript:void(0)" onclick="superSearch.toggle()" title="SEARCH">
  <span class="fa fa-search" style="font-size:1em; position:fixed; right: .75em; top: 1em; z-index: 2;"></span>
</a>
<div class="super-search" id="js-super-search">
  <a " class="super-search__close-btn" href="javascript:void(0)" onclick="superSearch.toggle()">
    <span class="fa fa-close" style="font-size:48px;"></span>
  </a>
  <input class="super-search__input" id="js-super-search__input" placeholder="Type here to search" type="text">
  <ul class="super-search__results" id="js-super-search__results"></ul>
</div>