<li>
  <a data-toggle="tooltip" href="https://facebook.com/{{ page.owner.facebook_username }}" title="Facebook">
    <span class="fa-stack fa-lg">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>

<li>
  <a data-toggle="tooltip" href="https://twitter.com/{{ page.owner.twitter_username }}" title="Twiiter">
    <span class="fa-stack fa-lg">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>

<li>
  <a data-toggle="tooltip" href="https://instagram.com/{{ page.owner.instagram_username }}" title="Instagram">
    <span class="fa-stack fa-lg">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>

<li>
  <a data-toggle="tooltip" href="https://github.com/{{ page.owner.github_username }}" title="Github">
    <span class="fa-stack fa-lg">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-github fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>

<li>
<a data-toggle="tooltip" href="mailto:{{ page.owner.email }}" target="_blank" title="Email">
  <span class="fa-stack fa-lg">
    <i class="fas fa-circle fa-stack-2x"></i>
    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
  </span>
</a>
</li>

<li>
<a href="/feed.xml" data-toggle="tooltip" title="Feed">
  <span class="fa-stack fa-lg">
    <i class="fas fa-circle fa-stack-2x"></i>
    <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
  </span>
</a>
</li>