<div class="tree-background">
  <div class="container d-flex justify-content-center align-content-center">
    <div class="tree-list-group list-group text-center align-middle">
        <a href="{{ site.url }}" class="list-group-item list-group-item-action list-group-item-success">Baixar</a>
        <a href="{{ site.owner.tiktok }}" class="list-group-item list-group-item-action">TikTok</a>
        <a href="{{ site.owner.spotify }}" class="list-group-item list-group-item-action">Spotify</a>
        <a href="{{ site.owner.deezer }}" class="list-group-item list-group-item-action">Deezer</a>
        <a href="{{ site.owner.itunes }}" class="list-group-item list-group-item-action">iTunes</a>
    </div>
    <div class="tree-list-group list-group text-center align-middle">
      <li class="list-group-item">.</li>
      <a href="{{ site.owner.youtube }}" class="list-group-item list-group-item-action">YouTube</a>
      <a href="{{ site.owner.facebook }}" class="list-group-item list-group-item-action">Facebook</a>
      <a href="{{ site.owner.instagram }}" class="list-group-item list-group-item-action">Instagram</a>
      <a href="{{ site.owner.twitter }}" class="list-group-item list-group-item-action">Twitter</a>
  </div>
  </div>
</div>