<!DOCTYPE html>
<html lang="{{ page.language }}">
  {% include head.html %}
  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMX8354"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    {% include nav.html %}
    {% include cover_header.html %}
    {% include player.html %}
      <!-- {% assign image = site.data.slider.images[1] %}
      <img class="cover-image" src="{{ image.src }}" alt="{{ image.alt }}"> -->

    {% include scripts.html %}
  </body>
</html>